@model List<DataLayer.Employee>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employees</h1>
</div>

<hr />
<hr />
<form class="row g-3" style="background-color:dimgrey; text-align:center">
    <div class="col-auto">
    </div>
    <div class="col-auto">
    </div>
    <div class="col-auto">
        <input type="text" class="form-control" id="textbox_id">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Find Employee</button>
    </div>
</form>
<div class="card">
    <div>
    </div>
    <hr />
    <hr />
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th class="col" style="background-color:lightblue; border-color:black; text-align:center">Id</th>
                    <th class="col" style="background-color:lightblue; border-color:black; text-align:center">Employee Name</th>
                    <th class="col" style="background-color:lightblue; border-color:black; text-align:center">Employee Salary</th>
                    <th class="col" style="background-color:lightblue; border-color:black; text-align:center">Employee Age</th>
                    <th class="col" style="background-color:lightblue; border-color:black; text-align:center">Employee Anual Salary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center">@item.Id</td>
                        <td align="center">@item.EmployeeName</td>
                        <td align="center">@item.EmployeeSalary</td>
                        <td align="center">@item.EmployeeAge</td>
                        <td align="center">@item.EmployeeAnualSalary</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
