@model List<DataLayer.Employee>
@{
    ViewData["Title"] = "Home Page";
}
@section script
{
    <script type="text/javascript" language="javascript">
        $(function () {
            $('#textbox_id').keydown(function (e) {
                if (e.shiftKey || e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;
                    //alert(key)
                    if (!((key == 8) || (key == 46) ||
                        (key >= 35 && key <= 40)
                        || (key >= 48 && key <= 57)
                        || (key >= 96 && key <= 105))) {
                        e.preventDefault();
                    }
                }
            });
        });

        $(document).ready(function () {
            $("#btnSearch").on('click', function (event) {
                var id = $('#textbox_id').val();
                event.preventDefault();
                if(id != "")
                {
                    //alert(id);
                    GetEmployeebyId(id, "some", "some");
                }
                else
                {
                    location.reload();
                }

                
            });
        });

        function GetEmployeebyId(id, prepKeys, prepValues) {

            var controller = "Employee/";
            var flag = [];
            var url = controller + "EmployeeById";

            $.ajax({
                type: "post",
                url: url,
                async: true,
                cache: false,
                data: { "id": id, "repKeys": prepKeys, "repValues": prepValues },
                success: function (r) {
                    flag = r;
                    window.location.href = url + "/" + id;
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
            return flag;
        }
        </script>
   
        
}

<div class="text-center">
    <h1 class="display-4">Employees</h1>
</div>

<hr />
<hr />
<form asp-action="" asp-asp-controller="Home" method="get" class="row g-3" style="background-color:dimgrey; text-align:center">
    <div class="col-auto">
    </div>
    <div class="col-auto">
    </div>
    <div class="col-auto">
        <input type="text" class="form-control" id="textbox_id">
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary mb-3" id="btnSearch">Find Employee</button>
    </div>
</form>
@if (Model != null)
{
    <div class="card">
        <div>
        </div>
        <hr />
        <hr />
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col" style="background-color:lightblue; border-color:black; text-align:center">Id</th>
                        <th class="col" style="background-color:lightblue; border-color:black; text-align:center">Employee Name</th>
                        <th class="col" style="background-color:lightblue; border-color:black; text-align:center">Employee Salary</th>
                        <th class="col" style="background-color:lightblue; border-color:black; text-align:center">Employee Age</th>
                        <th class="col" style="background-color:lightblue; border-color:black; text-align:center">Employee Anual Salary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align="center">@item.Id</td>
                            <td align="center">@item.EmployeeName</td>
                            <td align="center">@item.EmployeeSalary</td>
                            <td align="center">@item.EmployeeAge</td>
                            <td align="center">@item.EmployeeAnualSalary</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

